absl-py==0.11.0
apng==0.3.4
appdirs==1.4.4
argon2-cffi==20.1.0
array2gif==1.0.4
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
atari-py==0.2.6
attrs==20.2.0
backcall==0.2.0
baselines==0.1.5
bleach==3.2.1
box2d-py==2.3.8
cachetools==4.1.1
catboost==0.25.1
category-encoders==2.2.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cmake==3.18.2.post1
cvxpy==1.1.12
cycler==0.10.0
Cython==0.29.21
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distro==1.5.0
docopt==0.6.2
ecos==2.0.7.post1
entrypoints==0.3
ExifRead==2.3.2
fancyimpute==0.5.5
fpdf==1.7.2
future==0.18.2
gast==0.3.3
glfw==2.0.0
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.33.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata==2.0.0
imutils==0.5.4
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kaggle==1.5.12
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.0
knnimpute==0.1.0
lazy-object-proxy==1.4.3
lockfile==0.12.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mpi4py==3.0.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
notebook==6.1.4
notebook-as-pdf==0.3.1
numpy==1.18.5
oauthlib==3.1.0
opencv-contrib-python==4.4.0.44
opencv-python==4.4.0.44
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==20.4
pandas==1.2.0
pandocfilters==1.4.3
parse==1.19.0
parso==0.7.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pipreqs==0.4.10
plotly==4.14.3
prettytable==2.1.0
progressbar2==3.53.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.6
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pyee==7.0.4
pyglet==1.5.0
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
PyPDF2==1.26.0
pypng==0.0.20
pyppeteer==0.2.2
pyrsistent==0.17.3
python-dateutil==2.8.1
python-magic==0.4.22
python-slugify==4.0.1
python-utils==2.4.0
python-xmp-toolkit==2.0.1
pytz==2020.5
PyYAML==5.3.1
pyzmq==19.0.2
qdldl==0.1.5.post0
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.6
scikit-learn==0.24.0
scipy==1.5.3
scs==2.1.2
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
statsmodels==0.12.2
stegoveritas==1.8
stegoveritas-binwalk==2.1.2
stegoveritas-pfp==0.2.3
stegoveritas-py010parser==0.1.10
stopit==1.1.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.0.4
TPOT==0.11.7
tqdm==4.51.0
traitlets==5.0.5
typed-ast==1.4.1
update-checker==0.18.0
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
xgboost==1.3.3
yarg==0.1.9
zipp==3.4.0
zmq==0.0.0
